{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="landing-page" id="landingPage">
          
    <div class="content">
        <h1>Paric Bikes</h1>
        <h3>Bike Rental Services</h3>
        <p>Where Fitness is more than a goal</p>

        <a href="#GetStarted-Page" class="btn" id="get-started">Get Started</a>
    </div>

    <div class="img">
        <img src="{% static 'resources\Group 21 2.png' %}" alt="">
    </div>
      
</section>

{% endblock %}
